/* ------------------------- CSS for phone screens --------------------------------*/  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#surfboard-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

/* ------------------------- CSS for phone screens --------------------------------*/  

.homepage-footer {
    bottom: 0;
    padding: 5px;
    font-family: "Proza Libre", sans-serif;
    font-weight: 600;
    color: rgba(204, 204, 204, 1);
    font-weight: bold;
    font-size: 0.7em;
}
.bio {
    background: rgba(204, 204, 204, 0.5);
    border-radius: 20px;
    margin: 20px;
    font-size: 16px;
    font-family: "Proza Libre", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.bio-p {
    padding: 20px;
    line-height: 30px;
    text-indent: 20px;
}

.surfboard-container {
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
    margin: 15px;
}

.surfboard-div {
    margin-top: 15px;
}

#surfboard {
    width: 370px;
    border-radius: 10px;
}

.title {
    font-family: "Proza Libre", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    font-size: 30px;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 4px;
    padding: 10px;
}

.h2 {
    padding-top: 20px; 
    text-align: center; 
    background-color: rgba(255, 255, 255, 0.5); 
    padding-bottom: 20px;
    border-radius: 20px;
}

/* -------------------------Contact Button------------------------------- */
.open-contact {
    background: none; 
    border: none;
    color: white;
    font-family: "Proza Libre", sans-serif;
    font-size: 1em;
}
.open-contact:hover {
    color: dodgerblue;
    cursor: pointer;
}
#contact-video {
    position: absolute; 
    right: 0; 
    bottom: 0;
    width: 240px;
    height: 1px; 
    height: 130px;
    z-index: -10;
    background-size: cover;
    overflow: hidden;
    border-radius: 10px;
}
.contact-popup {
    box-sizing: border-box;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.0);
    transition: 200ms ease-in-out;
    border: none;
    border-radius: 10px;
    z-index: 10;
    width: 230px;
    height: 130px;
}
.popup-active {
    transform: translate(-50%, -50%) scale(1.0);
}
.contact-header {
    display: flex;
    align-items: center;
    justify-items: end;
}
.close-contact {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 30px;
    font-weight: 900;
    color: black;
}
.contact-overlay {
    position: fixed;
    opacity: 0;  
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    pointer-events: none;
}
.contact-active {
    opacity: 1;
    pointer-events: all;
}
.email {
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    color: black;
    display: inline;
    justify-content: center;
    font-family: "Proza Libre", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    padding: 5px;
    border-radius: 5px;
}
.contact-body {
    margin-top: 20px;
}
/*------------------Hamburger menu------------------*/
.nav-link {
    color: white;
    text-decoration: none;
    transition: 0.7s ease;
    font-size: 1em;
}
.navbar {
    min-height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 3;
}
.nav-menu {
    display: flex;
    flex-direction: row;
    position: fixed;
    left: -100%;
    top: 0;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #144866;
    width: 100%;
    transition: 0.3s;
    opacity: 0;
    z-index: 3;
}
.nav-menu.active {
    left: 0;
    opacity: 1;
}
.nav-item {
    list-style: none;
    margin: 16px auto;
    font-family: "Proza Libre", sans-serif;
    text-align: center;
    font-size: 12px;
}
.nav-link:hover {
    color: dodgerblue;
}
.hamburger {
    display: block;
    cursor: pointer;
    justify-items: center;
    align-items: center;
}
.burger-box {
    justify-items: center;
    align-items: center;
    display: flex;
    margin-left: 20px;
    background-color: #144866;
    padding: 4px;
    border-radius: 5px;
    width: 34px;
    height: 34px;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}
.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}
.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

@media only screen and (min-width: 768px) {
    #surfboard {
        width: 975px;
    }
    .contact-popup {
        top: 50%;
        left: 50%;
        width: 500px;
        height: 280px;
        max-width: 80%;
    }
    .contact-body {
        text-align: center;
        padding-top: 85px;
        padding-left: 20px;
    }
    .close-contact {
        padding: 10px 15px;
    }
    .email {
        font-size: 22px;
    }
    .contact-body {
        margin-top: 0;
    }
    #contact-video {
        right: 0; 
        bottom: 0;
        width: 500px;
        height: 280px; 
    }
    .nav-item {
        font-size: 16px;
    }

}